[submodule "frontend"]
	path = frontend
	url = https://github.com/Silver-Wing-Project/Silverwing-Frontend
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/Silver-Wing-Project/Silverwing-Backend
	branch = master
