# Git and GitHub
.git
.github/
.gitmodules
.github/pr_workflows/
.github/workflows/
.github/CODEOWNERS
.github/PR_DESCRIPTION.md

# Shell scripts
*.sh
*.md

# Python Virtual Environment
/.venv

# IDE - VSCode
.vscode/*